.edit-background {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}
.pic-container {
    width: 100%;
    height: 100%;
    margin: 20px;
    display: flex;
}
.edit-tool-container {
    border-top: solid white 1px;
    height: 80px;
    text-align: center;
    padding-right: 20px;
}
#edit-buttons {
    text-align: right;
}
#operation-buttons {
    text-align: left;
}
#curImg {
    margin: auto;
}