.login_background {
    background: url("../../views/assets/movie_pic/darkknight.jpeg") no-repeat;
    background-size: cover;
    padding: 100px;
    overflow: auto;
}
.login_form_container {
    height: 100%;
    width: 450px;
    border-radius: 10px;
    background-color: white;
    opacity: 0.85;
    float: right;
}
.login_title {
    font-size: 30px;
    font-family: "Avenir";
    margin-bottom: 15px;
}
.line {
    border-bottom: black 1px solid;
    width: 400px;
}
.login_form {
    margin: 50px;
}
.login_label {
    margin-right: 10px;
    margin-top: 30px;
}
.login_input {
    border: black solid 1px;
    border-radius: 10px;
    width: 300px;
    height: 30px;
    font-size: 18px;
}
.login_methods {
    margin-right: 30px;
    margin-left: 25px;
    margin-bottom: 40px;
    width: 40px;
    height: 40px;
    float: left;
    cursor: pointer;
}
.login_button {
    background-color: black;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    opacity: 0.7;
    margin-bottom: 20px;
    cursor: pointer;
}