<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/button.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css" />
    <script src="/javascripts/jquery-3.3.1.min.js" type="text/javascript" ></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/edit_page.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pic-connect.css" />
    <title>Choose Pic</title>
</head>
<body style="margin: 0px">
<div class="edit-header">
    <p class="edit-header-title" onclick="toCenter()">Memento</p>
    <p class="edit-small-title">/电影列表/图片导出处理/选择图片进行合成</p>
    <button class="primary-button"
            style="width: 120px;float: right;margin-right: 30px;" onclick="toHome()">返回记忆大厅</button>
</div>
<div class="edit-background" style="width: 100%; height: 100%">
    <ul class="chosen-pics-container">
    </ul>
</div>
<div class="connected-container">
    <p>请点击图片进行拼接 :-D</p>
    <div id="connected-pic">
    </div>
    <br/>
    <button style="width: 150px" class="primary-button" onclick="recover()">还原</button>
    <button style="width: 150px" class="primary-button" >保存</button>
</div>
<div class="footer">
    <div style="float: left">
        <p style="color: white;" >珍藏每一部电影，记下心中所想</p>
        <p style="color: white;" >组成你的记忆碎片</p>
    </div>
    <div style="float: right">
        <p class="footer-title">Memento</p>
        <p style="color: white" >Produce by Yang🐑</p>
    </div>
</div>
</body>
<script type="text/javascript" src="/javascripts/connectPic.js"></script>
</html>