<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Director | Christopher Nolan</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/director_page.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/button.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css" />
    <script src="/javascripts/jquery-3.3.1.min.js" type="text/javascript" ></script>
</head>
<body style="margin: 0px;width: 100%">
    <div class="edit-header" style="margin-bottom: 5px">
        <p class="edit-header-title">Memento</p>
        <p class="edit-small-title">/电影列表</p>
        <button class="primary-button"
                onclick="Logout()"
                style="width: 120px;float: right;margin-right: 30px;">退出登录</button>
        <img src="/images/user_avatar.jpg" class="user-avatar" width="40" height="40">
    </div>
    <div style="display: flex; background-color: #001529">
        <div class="director_page_container">
            <img src="/images/movie_pic/Nolan.jpg"
                 width="150"
                 height="150"
                 class="avatar_container"
                 alt="Nolan">
            <p class="director_name">Christopher Nolan</p>
            <p class="director_info">Born: <u>30 July 1970</u></p>
            <p class="director_info">Residence: <u>Los Angeles, California, U.S.</u></p>
            <p class="director_info">Citizenship: <u>United KingdomUnited States</u></p>
            <p class="director_info">Alma mater: <u>University College London</u></p>
            <p class="director_info">Occupation: <u>Filmmaker</u></p>
            <p class="director_info">Years active: <u>1989–present</u></p>
            <p class="director_info">Spouse(s): <u>Emma Thomas(m. 1997)</u></p>
            <p class="director_info">Children: <u>4</u></p>
            <p class="director_info">Relatives: <u>Jonathan Nolan (brother)
                John Nolan (uncle)
                Lisa Joy (sister-in-law)</u></p>
        </div>
        <div class="left-container">

            <div class="movie_list_container">
                <ul id="pic-list">
                    <div class="new-memento-container">
                        <!--上传图片-->
                        <form method="post" enctype="multipart/form-data" action="javascript:;">
                            <p>电影名称</p>
                            <input type="text" id="movie-name-input"
                                   name="movieName"
                                   placeholder="输入您想要存入记忆的电影名称"
                            >
                            <p>Memory</p>
                            <input type="text" id="comment-input"
                                   name="comment"
                                   maxlength="200"
                                   placeholder="留下您对电影的评论(最多200字)"
                            >

                            <input type="file" style="margin: 20px 0px 20px 0px;font-size: 10px"
                                   id="choose"
                            />
                            <button class="primary-button" id="upload-button"
                                   style="width:100px;background-color: coral;color: white;margin-left: 0px">确定上传
                            </button>
                            <img class="newImg" height="100" width="400"/>
                        </form>
                    </div>
                </ul>
            </div>

        </div>
    </div>
    <div class="footer">
        <p class="footer-title">Memento</p>
        <p style="color: white" >Produce by Yang🐑</p>
    </div>
</body>
<script type="text/javascript" src="/javascripts/movieList.js"></script>
<script type="text/javascript" src="/javascripts/uploadPic.js"></script>
</html>