<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/login_page.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css" />
    <script src="/javascripts/jquery-3.3.1.min.js" type="text/javascript" ></script>
</head>
<body style="margin: 0px">
    <div class="login_background">
        <div class="login_form_container">
            <div style="margin: 30px">
                <p class="login_title">登录</p>
                <div class="line"></div>
                <form class="login_form">
                    <p class="login_label">用户名:</p>
                    <input type="text" name="username" class="login_input" required>
                    <p class="login_label">密码:</p>
                    <input type="password" name="password" class="login_input" required>
                    <div>
                        <p class="login_label">其他登录方式：</p>
                        <img src="/images/icon/QQ.png"
                             class="login_methods"
                        >
                        <img src="/images/icon/微信.png"
                             class="login_methods"
                        >
                        <img src="/images/icon/微博.png"
                             class="login_methods"
                        >
                    </div>
                </form>
                <button class="login_button" onclick="login()">登   录</button>
                <a href='/register' style="margin-left: 120px" >没有账号？ 点此注册</a>
            </div>
        </div>
    </div>
    <div class="footer">
        <p class="footer-title">Memento</p>
        <p style="color: white" >Produce by Yang🐑</p>
    </div>
</body>
<script type="text/javascript" src="/javascripts/userController.js"></script>
</html>