<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/edit_page.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/button.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css" />
    <link href="/stylesheets/cropper.css" rel="stylesheet">
    <script src="/javascripts/jquery-3.3.1.min.js" type="text/javascript" ></script>
    <title>Picture Editing</title>
<body style="margin: 0px">
    <div class="edit-header">
        <p class="edit-header-title">Memento</p>
        <p class="edit-small-title">/电影列表/图片导出处理</p>
        <button class="primary-button"
                onclick="toCenter()"
                style="width: 120px;float: right;margin-right: 30px;">返回记忆大厅</button>
    </div>
    <div class="edit-background">
        <div class="pic-container">
            <img src="/images/movie_pic/darkknight2.jpg"
                 height="600"
                 id="curImg"
            >
        </div>
        <div class="edit-tool-container">
            <div id="operation-buttons">
                <button class="primary-button"
                        style="margin: 20px;width: 100px"
                        onclick="editInitial()"
                >编辑</button>
                <button class="primary-button"
                        style="margin: 20px;width: 100px"
                        onclick="toConnectPage()"
                        id="complex-button"
                >多图合成</button>
                <button class="primary-button"
                        style="margin: 20px;width: 100px"
                        id="tag-button"
                >贴纸</button>
                <button class="primary-button"
                        style="margin: 20px;width: 100px"
                        id="share-button"
                >分享</button>
            </div>
            <div id="edit-buttons" style="display: none;;float: right">
                <div class="icon-button">
                    <img src="/images/icon/逆转.png"
                         onclick="anticlockwiseRotate()"
                         width="25">
                </div>
                <div class="icon-button">
                    <img src="/images/icon/顺转.png"
                         onclick="clockwiseRotate()"
                         width="25">

                </div>
                <div class="icon-button">
                    <img src="/images/icon/放大.png"
                         onclick="enlarge()"
                         width="25">

                </div>
                <div class="icon-button">
                    <img src="/images/icon/缩小.png"
                         onclick="shrink()"
                         width="25">

                </div>
                <div class="icon-button"
                     style="background-color: rgb(248,29,37); border: none">
                    <img src="/images/icon/取消.png"
                         onclick="cropCancel()"
                         width="25"
                    >
                </div>
                <div class="icon-button"
                     style="background-color: rgb(84,164,0);  border: none">
                    <img src="/images/icon/确认.png"
                         onclick="cropSave()"
                         width="25"
                    >
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div style="float: left">
            <p style="color: white;" >珍藏每一部电影，记下心中所想</p>
            <p style="color: white;" >组成你的记忆碎片</p>
        </div>
        <div style="float: right">
            <p class="footer-title">Memento</p>
            <p style="color: white" >Produce by Yang🐑</p>
        </div>
    </div>
</body>

<script src="/javascripts/cropper.js"></script>
<script src="/javascripts/EditPic.js" type="text/javascript" ></script>

</html>